*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: border-box; */
}
/* BOX1 */
.navbar{
    height: 60px;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 55px;
    width: 100px;
}
.logo{
    background-image: url(Amazon-Logo-White.png);
    background-size: cover;
    height: 55px;
    width: 100px
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* box2 */
.font-first{
    color: white;
    font-size: 0.85rem;
    margin-left: 20px;
}
.font-second{
    color: white;
    font-size: 0.85rem;
    margin-left: 20px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:wheat;
    width: 428.11px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid #febd68;
}
.search-select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.search-input{
    width: 400px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: wheat;
    color: rgb(27,26,26);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* box4 */
.span{
    font-size: 0.5rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
.nav-cart i{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart:hover{
    border: 1px solid white;
}
/* panel */
/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */
.panel{
    height: 39px;
    background-color:yellow;
    color: white;
    display: flex;
    align-items: center;
}
.panellogo{
    font-weight: bolder;
    margin-left: 1%;
}
.panellogo:hover{
    border: 1px solid white;
    padding: 0.30rem;
}
.anteroption{
    display: flex;
    column-gap: 1rem;
    margin-left: 1%;
    font-size: 0.90rem;
    font-weight: 500;
}
.anteroption a:hover{
    border: 1px solid white;
}
.hero-section{
    height: 300px;
    background-image:url(71x5OKagN+L._SX3000_.jpg) ;
    background-size: cover;
}
.shop{
    display: flex;
    background-color: #e2e6e7;
}
.shop1{
    height: 440px;
    width: 23%;
    /* border: 1px solid black; */
    background-color: white;
    margin: 1%;
}
.shop-size {
    padding: 25px 15px 0px;
}
.shop-img1 {
    height: 290px;
    width: 97%;
    background-size: cover;
}
.shopfont {
    font-size: 1.5rem;
    margin-bottom: 6%;
}
.smallheading {
    margin-top: 6%;
    color: #2162a1;
    font-size: 0.85rem;
}




