*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* BOX1 */
.navbar{
    height: 60px;
    background-color: darkgreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 55px;
    width: 100px;
}
.logo{
    background-image: url(amazon-logo.png);
    background-size: cover;
    height: 55px;
    width: 100px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    padding: 0.30rem;
}
/* box2 */
.font-first{
    color: white;
    font-size: 0.85rem;
    margin-left: 20px;
}
.font-second{
    font-weight: 700;
    font-size: 1rem;
    /* margin-left: 20px; */
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    width: 428.11px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid white;
}
.search-select{
    background-color: white;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 400px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* box4 */
.span{
    font-size: 0.5rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box4 */
.nav-cart i{
    font-size: 28px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart:hover{
    border: 1px solid white;
}
/* panel */
.panel{
    height: 39px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
}
.panelAll{
    font-weight: bolder;
}
.panelAll:hover{
    border: 1px white;
    padding: 0.30rem;
}
.paneloption{
    display: flex;
    column-gap: 1rem;
    margin-left: 5%;
    font-size: 0.90rem;
    font-weight: 500;
}
.paneloption p:hover{
    border: 1px solid white;
}
.hero-section{
    background-image:url(71x5OKagN+L._SX3000_.jpg);
    background-size: cover;
    height: 350px;
}
.shop-main{
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e6e7;
}
.shop1 {
    height: 400px;
    width: 20%;
    /* border: 1px solid black; */
    background-color: #ffffff;
    margin: 1%;
    padding: 15px 20px 0px;
}
.img1 {
    height: 300px;
    width: 99%;
    background-size: cover;
}
.head1 {
    font-size: 1.3rem;
    margin-bottom: 3%;
}
.head2 {
    font-size: 1.3rem;
    margin-bottom: 3%;
}
.para2 {
    font-size: 0.85rem;
    color: #2162a1;
    margin-top: 5%;
}